.page{
    height: 100vh;
    width: 100%;
    margin-top: 5%;
}
.pa-wrapper{
    display: flex;
    justify-content: space-between;


}
.p-left{
    margin-left: 200px;    
    margin-top: -5%;                      

    
}


.p-center{
    margin-top: 10%;
}
.cen-img{
width: 250px;
height: 250px;
border-radius: 50%;
margin-left: -4px;
}
.pc-bg{
    position: relative;
  
}
.cen-Lorem{
    position: absolute;
    top:  -250px;
    right: -90px;
    width: 90%;
   
}
.p-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-top: 5%;
     
}
.p-right>img{
    width: 100%;
    
}
h2{
    font-weight: bold;
    
}

.vp1{
     /* width: 750px; */
    font-weight: 300;
    margin-top: 11%;
    margin-right: 10%; 
} 
.vp2{
    
    margin-top: -27%;
    margin-right: 16%;
}
.vp3{
    /* width: 86%; */
    margin-top: -23%;
    margin-right: 25%;
}
.vp4{
    width: 36%;
    margin-top: -34%;
    margin-right: 35%;
}

